In [8]:
import pandas as pd
import plotly.express as px

ModuleNotFoundError: No module named 'plotly'

In [4]:
df = pd.read_csv('Interview Challenge.csv')

In [5]:
df.head()

,id,latitudes/0,latitudes/1,latitudes/2,latitudes/3,longitudes/0,longitudes/1,longitudes/2,longitudes/3,latitudes/4,longitudes/4,Unnamed: 11,Unnamed: 12,Unnamed: 13,Unnamed: 14,Unnamed: 15
0,7590cf21d1a446e3b07c92912a4a3c44,2.980511,2.980595,2.980763,2.980530,32.531686,32.531705,32.531327,32.531240,2.980515,32.531657,NaN,NaN,NaN,NaN,NaN
1,c7b3fde63650440abbaaecec33e30bfa,2.965254,2.965177,2.965122,2.966003,32.249756,32.250017,32.250278,32.250418,2.965983,32.249870,NaN,NaN,NaN,NaN,s
2,ef2b90b7ff804894a8413477cdfa0e86,2.961134,2.961096,2.961096,2.961162,32.240426,32.240401,32.240401,32.240312,2.960957,32.240535,NaN,NaN,NaN,NaN,NaN
3,604a8069c5bb4620b7394a7ec5603c18,2.961075,2.961193,2.960932,2.960932,32.240455,32.240537,32.240490,32.240490,2.961053,32.240440,NaN,NaN,NaN,NaN,NaN
4,9848201f11824ca5a7639aee61152122,2.960971,2.961101,2.961128,2.961035,32.240536,32.240386,32.240551,32.240573,2.960998,32.240462,NaN,NaN,NaN,NaN,NaN